div.carousel {
  height: 106.4vh;
  ol.carousel-indicators {
    bottom: 90px;
    li {
      height: 10px;
      max-width: 10px;
      width: 10px;
      background-color: transparent;
      border: 1px solid $light-text;
      opacity: .5;
      transition: all .3s;
      &.active {
        background-color: $light-text;
      }
      &:hover {
        background-color: $light-text;
        opacity: 1;
      }
    }
  }

  .carousel-controls {
    .carousel-arrow {
      &.carousel-control-prev-icon {
        margin-top: -47%;
        margin-left: -59px;
        width: 58px;
        height: 58px;
        background-image: url('../img/left.png');
      }
      &.carousel-control-next-icon {
        margin-top: -47%;
        margin-left: 104px;
        width: 58px;
        height: 58px;
        background-image: url('../img/right.png');
      }
    }
  }
  div.carousel-inner {
    height: 100%;
    overflow: hidden;
    div.carousel-item {
      height: 100%;
      width: 100%;
      background-image: url("../../assets/img/slide.jpg");
      background-size: cover;
      .carousel-caption {
        top: 33.3%;
        width: 49%;
        left: 26.2%;
        h3 {
          font-size: 48px;
          font-family: Museo300;
        }
        p {
          font-size: 18px;
          font-family: Museo300;
          margin-top: 15px;
        }
      }
    }
  }
}