.header-background.map {
  height: 580px;
}
.contacts {
  background-color: #fff;

  .head-contacts {
    padding-top: 80px;
    h1 {
      font-family: Museo300;
      font-size: 34px;
    }
  }
  .contacts-info {
    padding-top: 45px;
    ul {
      list-style: none;
      li {
        b {
          display: inline-block;
        }
        p {
          display: inline-block;
        }
        a {

        }
      }
    }

  }
}
@media screen and (max-width: 414px) {
  .contacts .head-contacts {
    padding-left: 40px;
  }
  .contacts-page {
    .menu-header .cake img {
      width: 54px;
      height: 48px;
    }
  }
}