footer {
  background: url("../img/footer.jpg") 20% 100% no-repeat;
  height: 260px;
  background-size: cover;
  position: relative;
  padding-top: 44px;
  .wrapper {
    .container {
      .logo {
        //padding-left: 3px;
        a {
          img.footer-logo {
            margin-left: 20px;
          }
        }

      }

      .social {
        padding-left: 0;
        li {
          display: inline-block;
          a {
            img {

            }
          }
        }
      }
      .footer-contacts {
        color: #fff;
      }
      ul {
        list-style: none;
        li {
          a {
            color: #fff;
            line-height: 2;
          }
        }
      }
    }
  }
}

#card_window {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.7);
  display: block;
  z-index: 9999;
  .cart-content {
    width: 55vw;
    background: white;
    height: 100vw;
    display: block;
    float: right;
    .container {
      padding: 50px;
      .header {
        display: flex;
        align-items: center;
        h3 {

        }
        .close {
          display: block;
          width: 18px;
          height: 18px;
          background-image: url("../img/close.png");
          background-repeat: no-repeat;
          background-size: contain;
          align-self: flex-end;
        }
      }
      .content {
        form {
          width: 100%;
          display: flex;
          flex-direction: row;
          .product-thumbnail {
            img {
              width: 130px;
              height: auto;
            }
          }
          .product-name {
            padding: 0;
            margin: 0;
            a {
              color: #111010;
              font-family: Museo500;
              font-size: 20px;
              line-height: 0;
              &:hover {
                text-decoration: none;
              }
            }
            p,span {
              color: #111010;
              font-family: Museo300;
              font-size: 16px;
              text-transform: lowercase;
            }
          }
          .product-quantity {
            .quantity {
              //&::before {
              //  content: '-';
              //  position: absolute;
              //  top: 0;
              //  left: -25px;
              //  width: 40px;
              //  height: 40px;
              //  background: #f5f4f4;
              //  color: #111010;
              //  display: flex;
              //  justify-content: center;
              //  align-items: center;
              //
              //}
              //&::after {
              //  content: '+';
              //  position: absolute;
              //  top: 0;
              //  left: 55px;
              //  width: 40px;
              //  height: 40px;
              //  background: #f5f4f4;
              //  color: #111010;
              //  display: flex;
              //  justify-content: center;
              //  align-items: center;
              //
              //}
              input[type=number] {
                background: #111010;
                color: #fff;
                width: 40px;
                height: 40px;
                border: 1px solid #908f8f;
                position: relative;

              }
            }

          }
        }


      }

    }
  }
}
