footer {
  background: url("../img/footer.jpg") 20% 100% no-repeat;
  height: 260px;
  background-size: cover;
  position: relative;
  padding-top: 44px;
  .wrapper {
    .container {
      .logo {
        //padding-left: 3px;
        img.footer-logo {
          margin-left: 20px;
        }
      }

      .social {
        padding-left: 0;
        li {
          display: inline-block;
          a {
            img {

            }
          }
        }
      }
      .footer-contacts {
        color: #fff;
      }
      ul {
        list-style: none;
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
}