header.second-header {
  a.navbar-brand {
    color: #111010 !important;
  }
  ul.navbar-nav {
    li.nav-item {
      &:hover {
        a.nav-link {
          color: #111010;
        }
      }
      a.nav-link {
        color: #111010;
        &:hover {
          &::after {
            background-color: #111010;
          }
        }
      }
    }
  }
}