/* main*/
html, body {
  height: 100%;
  background-image: url("../img/back.jpg");
  color: $black-text !important;
  .container {
    width: 997px !important;
  }
}
.overlay{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* styles */
header {
  background-color: transparent !important;
  padding-top: 25px !important;
  position: absolute !important;
  a.navbar-brand {
    color: $light-text !important;
    font-size: 22px;
    text-transform: uppercase;

    img {
      height: 89px;
      width: auto;
    }
  }
  ul.navbar-nav {
    li.nav-item {
      padding-left: 5px;
      padding-right: 5px;
      &:hover {
        a.nav-link {
          color: $light-text;
        }
      }
      a.nav-link {
        color: $light-text;
        font-size: 14px;
        position: relative;
        font-family: Museo500;
        &:hover {
          &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: $light-text;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}
.container-fluid {
  height: 100%;
}


