header.second-header {
  a.navbar-brand {
    color: $black-text !important;
  }
  ul.navbar-nav {
    li.nav-item {
      &:hover {
        a.nav-link {
          color: $black-text;
        }
      }
      a.nav-link {
        color: $black-text;
        &:hover {
          &::after {
            background-color: $black-text;
          }
        }
      }
    }
  }
}