/* main*/
html, body {
  height: 100%;
  background-image: url("../img/back.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  color: #111010 !important;
  .container {
    width: 997px !important;
  }
}
.overlay{
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* styles */
header {
  background-color: transparent !important;
  padding-top: 25px !important;
  position: absolute !important;
  top: 10px;
  a.navbar-brand {
    color: #fff !important;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 8px;
    margin-top: 1px !important;
    margin-left: 20px;
    img {
      height: 89px;
      width: auto;
    }
  }
  div.collapse.navbar-collapse {
    justify-content: space-around;
    margin-left: 82px;
    margin-top: 14px;
  }
  ul#menu-header {
    #wpmenucartli {
      a {
        span.count {
          border-radius: 50%;
          background: #fff;
          color: #111010;
          width: 27px;
          height: 27px;
          display: inline-flex !important;
          align-items: center;
          justify-content: center;
        }
      }
    }
    li {
      padding-left: 8px;
      padding-right: 8px;

      &:hover {
        a {
          color: #fff;
        }
      }
      a {
        color: #fff;
        font-size: 14px;
        position: relative;
        font-family: Museo500;
        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 0px;
          margin: 0 auto;
          transition: all .3s;
        }
        &:hover {
          text-decoration: none;
          &::after {
            content: '';
            display: block;
            height: 2px;
            background-color: #fff;
            width: 40px;
            background-color: #ffffff;
            margin: 0 auto;
          }
        }
        &:focus {
          color: #fff;
        }
      }
    }
  }
}
.container-fluid {
  height: 100%;
}
