.page-header {

  .menu-header {
    height: 557px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .menu-header-img {
    &::after {
      //display: block;
      //content: '';
      //position: absolute;
      ////background-image: url("../img/cake1.png");
      //background-size: contain;
      //width: 390px;
      //height: 390px;
      //top: 230px;
      //right: 0px;
      //box-shadow: -31px 31px 91px 21px rgba(18, 22, 25, 0.28);
      //z-index: 11;

    }
    .image-header {
      display: block;
      position: absolute;
      bottom: -50px;
      right: 0;
      z-index: 99;
    }
  }
  .header-background {
    position: relative;
    height: 295px;
    background-size: cover;
  }
 }
div.wrapper.menu {
  background-color: $light-text;
  .container {
    ul.menu-link {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 0 !important;
      li {
          padding: 30px 17px;
        a {
          color: #9a9999;
          text-transform: uppercase;
          font-family: Museo300;
          &:hover {
            color: $black-text;
            transition: all .3s;
            text-decoration: none;
          }
          &:focus {
            text-decoration: none;
            color: $black-text;
          }
        }
      }
    }
    .menu-item {
      .slider-item {
        position: relative;
        z-index: 9;
        img {
          width: 100%;
        }
      }
      .description-item {
        background-color: $light-text;
        width: 90%;
        position: relative;
        z-index: 99;
        margin: -20px auto 29px;
        text-align: center;
        padding-top: 45px;
        padding-left: 35px;
        padding-right: 35px;
        margin-bottom: 30px;
        padding-bottom: 65px;
        h3 {
          font-size: 20px;
          font-family: Museo500;
        }
        p {
          font-size: 16px;
          text-transform: lowercase;
          font-family: Museo300;
          color: $black-text;
          &.tech-info {
          color: #9a9999;
          }
        }

        a {
          display: block;
          width: 40px;
          height: 40px;
          border: 1px solid #9a9999;
          border-radius: 50%;
          position: relative;
          float: right;
          &::before {
            content: '+';
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            font-size: 24px;
            top: -4%;
            left: 29%;
            color: #9a9999;
          }
        }
      }
    }
  }
}