@media screen and (max-width: 991px) {

  html .container, body .container {
    width: 100vw !important;
  }
  .hidden-mobile {
    display: none;
  }
  .visible-block {
    display: block;
  }
  .visible-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .no-offset {
    padding: 0!important;
    margin: 0 !important;
  }
  header.navbar {
    padding-left: 0;
    padding-right: 0;
    .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      button.navbar-toggler {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: center;
        align-self: center;
        border: none;
        outline: none;
        &:focus {
          border: none;
          outline: none;
        }
        span.navbar-icon {
          background-color: #fff;
          display: block;
          height: 4px;
          width: 25px;
          border-radius: 2px;
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
      div.navbar-collapse {
        position: absolute;
        top: 132px;
        width: 100vw;
        height: auto;
        background-color: #fff;
        margin: 0 !important;
        text-align: center;
        ul {
          padding: 20px 0;
          li {
            a {
              color: #45464f;
              font-family: Museo900;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  div.carousel {
    -webkit-overflow-scrolling: touch;
    ol.carousel-indicators {
      li {

      }
    }
    div.carousel-inner {
      .carousel-item {
        .carousel-caption {

        }
      }
    }
    a.carousel-control-prev {
      display: none;
      span.carousel-control-prev-icon {

      }
    }
    a.carousel-control-next {
      display: none;
      span.carousel-control-next-icon {

      }
    }
  }
  .sections {
    .container {
      .col-md-6 {
        width: 100vw !important;
        max-width: 100vw !important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
      }
    }

    .section-menu {
      width: 100vw;
      .after {
        right: -280px;
        width: 377px;
        height: 373px;
      }
      .text-content {
        text-align: center;
        a.section-button {
          margin: 0 auto;
        }
      }
    }
    .section-corporate {
      width: 100vw;
      .after {
        right: -280px;
      }
    }
    .section-catering {
      .subsection-catering {
        width: 42vw !important;

      }
      .text-content {
        text-align: center;
        width: 100%;
        left: 0;
        .little-img.lCatering {
          bottom: -220px;
          left: 20%;
        }
        a {
          margin: 0 auto;
        }
      }
    }
    .section-corporate {
      width: 100vw;
      text-align: center;
      .after {
      }
      .text-content {
        width: 100vw;
        max-width: 100vw;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        p {
          width: 100% !important;
        }
        a {
          margin: 0 auto;
        }
        .little-img.lCorporate {
          right: 50px;
          bottom: -150px;
          left: auto;
        }

      }
    }
    .section-organic {
      .subsection-organic {
        width: 42vw !important;
      }
      .text-content {
        left: 0;
        width: 100vw;
        text-align: center;
        a {
          margin: 0 auto;
        }
        .little-img.lOrganic {
          bottom: -220px;
          left: 20%;
        }
      }
    }
  }
}

@media screen and (max-width: 736px){
  div.carousel {
    div.carousel-inner {
      div.carousel-item {
        div.carousel-caption {
          display: block !important;
          width: 100vw !important;
          left: 0 !important;
          h3 {
            font-size: 24px;
          }
          p {
            font-size: 14px;
          }

        }
      }
    }

  }

  .sections {
    .section-menu,.section-corporate {
      .after {
        display: none !important;
      }

        .little-img.lMenu {
          background-size: contain;
          background-repeat: no-repeat;
          width: 43px;
          height: 45px;
          bottom: -40px;
          right: 0px;
        }
      .little-img.lCorporate {
        background-size: contain;
        background-repeat: no-repeat;
        width: 47px;
        height: 47px;
        right: 22px !important;
        bottom: -22px !important;
      }
      }
    .section-menu, .section-corporate, .section-catering, .section-organic {
      height: 280px !important;
      margin-top: 0 !important;
      .text-content {
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
        a {
          font-size: 12px;
        }

      }

      .subsection-organic, .subsection-catering {
        height: 280px !important;
        width: 41vw !important;
      }
    }
    .section-catering, .section-organic {
      .text-content {
        top: 82px !important;
        .little-img.lCatering {
          background-size: contain;
          background-repeat: no-repeat;
          width: 35px;
          height: 50px;
          bottom: -90px;
          right: auto;
          left: 45px;
        }
        .little-img.lOrganic {
          background-size: contain;
          background-repeat: no-repeat;
          width: 47px !important;
          height: 47px !important;
          bottom: -90px;
          right: auto;
          left: 45px;
        }
      }
    }
    .section-organic {
      margin-bottom: 50px;
    }
    }
  footer {
    height: 375px;
    .logo {
      width: 50vw !important;
    }
    .location {
      width: 50vw !important;
    }
    .footer-menu {
      width: 50vw !important;
      ul {
        padding-left: 15px !important;
      }
    }
    .footer-menu.secondM {
      padding-left: 0 !important;
    }
  }

}
@media screen and (max-width: 320px){
  footer {
    height: 400px;
  }

}