$light-text: #ffffff;
$black-text: #111010;

.sections {
  .little-img {
    display: block;
    position: absolute;
    &.lMenu {
      background-image: url("../img/1.png");
      width: 53px;
      height: 73px;
      bottom: -56px;
      right: 156px;
    }
    &.lCatering {
      background-image: url("../img/2.png");
      width: 54px;
      height: 78px;
      bottom: -241px;
      left: -77px;
    }
    &.lCorporate {
      background-image: url("../img/3.png");
      width: 79px;
      height: 79px;
      bottom: -62px;
      left: 241px;
    }
    &.lOrganic {
      background-image: url("../img/4.png");
      width: 74px;
      height: 73px;
      bottom: -239px;
      left: -62px;
    }
  }
  position: relative;
  .section-header {
    font-family: Museo300;
    font-size: 48px;
    margin-top: -6px;
    padding-left: 0px;
    margin-left: -5px;
  }
  .section-description {
    font-family: Museo300;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .section-button {
    text-transform: lowercase;
    font-family: Museo500;
    font-size: 14px;
    color: $black-text;
    box-shadow: 0px 0px 0px 2px rgba(53, 58, 60, .21);
    padding: 13px 19px;
    width: 160px;
    min-width: 160px;
    display: block;
    text-align: center;
    margin-top: 7px;
    &.white-btn {
      box-shadow: 0px 15px 31px 6px rgba(53, 58, 60, 0.21);
      background-color: $light-text;
      width: 165px;
      min-width: 165px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .section-menu {
    background-color: $light-text;
    height: 555px;
    width: 76.8vw;
    margin-top: -46px;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 0px 0px rgba(25, 45, 61, .18);
    .after {
      display: block;
      content: '';
      position: absolute;
      background-image: url("../img/cake1.png");
      background-size: contain;
      width: 477px;
      height: 473px;
      top: -75px;
      right: -136px;
      z-index: 99;

    }
    .container {
      display: flex;
      box-shadow: -21px 21px 90px 5px rgba(18, 22, 25, 0.28);
      width: 100% !important;
      .text-content {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-left: 38px;
        margin-top: -80px;
      }
    }

  }

  .section-catering {
    margin-top: 115px;
    height: 553px;
    position: relative;
    .text-content {
        position: absolute;
        z-index: 1;
        top: 152px;
        padding-left: 0;
        left: -102px;
    }
    .subsection-catering {
      height: 553px;
      background-image: url(../img/catering.jpg);
      background-size: cover;
      background-position: 50% 70%;
      width: 75.6vw !important;
      right: 0;
      position: absolute;
      box-shadow: -21px 21px 90px 5px rgba(18, 22, 25, 0.28);
    }
  }
  .section-corporate {
    margin-top: 120px;
    background-color: $light-text;
    height: 552px;
    width: 76.8vw;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 0px 0px rgba(25, 45, 61, .18);
    .after {
      display: block;
      content: '';
      position: absolute;
      background-image: url("../img/cake2.png");
      background-size: contain;
      width: 513px;
      height: 513px;
      top: -71px;
      right: -166px;
    }
    .container {
      display: flex;
      box-shadow: -21px 21px 90px 5px rgba(18, 22, 25, 0.28);
      width: 100% !important;
      .text-content {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-left: 43px;
        margin-top: -81px;
      }
    }
  }
  .section-organic {
    margin-top: 109px;
    margin-bottom: 230px;
    height: 554px;
    position: relative;
    .text-content {
      position: absolute;
      z-index: 1;
      top: 168px;
      padding-left: 0;
      left: -95px;
    }
    .subsection-organic {
      height: 554px;
      background-image: url("../img/organic.jpg");
      background-size: cover;
      background-position: 50% 65%;
      width: 75.6vw !important;
      right: 0;
      position: absolute;
      box-shadow: -21px 21px 90px 5px rgba(18, 22, 25, 0.28);
    }
  }
}
