/* fonts*/
@font-face {
  font-family: Museo100;
  src: url('../fonts/MuseoSansCyrl.otf');
}
@font-face {
  font-family: Museo300;
  src: url('../fonts/MuseoSansCyrl_0.otf');
}
@font-face {
  font-family: Museo500;
  src: url('../fonts/MuseoSansCyrl_1.otf');
}
@font-face {
  font-family: Museo700;
  src: url('../fonts/MuseoSansCyrl_2.otf');
}
@font-face {
  font-family: Museo900;
  src: url('../fonts/MuseoSansCyrl_3.otf');
}

// ivans vars
$mediumFontSize: 36px;
$priceFontSize: 20px;
$smallFontSize: 14px;
$lightGray: #d7d7d7;
$quantityCol: #f5f4f4;
$black: #111010;
$white: #ffffff;
// end



$light-text: #ffffff;
$black-text: #111010;
.hiddenPC {
  display: none;
}
.no_boot {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.overlay-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
}

